.contact{
    flex-grow: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    width: 600px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: center;
}
.about h3{
    color: #0C56A5;
    font-size: 16px;
}
.about p {
    color: #252526;
    padding-left: 20px;
}
.lang span{
    margin:auto 20px;
}
.skill span{
    margin: auto 10px;
}
@media screen and (max-width: 700px) {
    .about{
        width: auto;
        height: fit-content;
    }
}